/* .service {
} */

/* .service__form {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
} */

.service__form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .service__form-input {
  width: 80%;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
} */

.service__button {
  border-radius: 8px;
  padding: 15px 20px;
  border: none;
  background-color: #4b49ac;
  color: #fff;
  font-size: 0.9rem;
}

/* .table > thead > tr > td {
  border-bottom: 1px solid #000;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #000;
  padding: 20px;
} */
